:root {
  --theme-elevation-0: #f5efe6;
  --theme-elevation-50: #ece2d4;
  --theme-elevation-100: #e2d3bf;
  --theme-elevation-200: #d5c0a5;
  --theme-elevation-800: #342723;
  --theme-elevation-900: #211917;
  --theme-success-500: #9a5f24;
}
